In [40]:
import pandas as pd

In [55]:
# Read datasets

df = pd.DataFrame()

for i in range(1980, 2025):
    filename = f"daily_aqi_by_county_{i}.csv"
    tmp = pd.read_csv(f"data/{filename}", low_memory=False)
    df = pd.concat([df, tmp], axis=0)

In [56]:
df.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Autauga,1,1,1980-04-05,67,Moderate,Ozone,01-001-0002,1
1,Alabama,Autauga,1,1,1980-04-06,84,Moderate,Ozone,01-001-0002,1
2,Alabama,Autauga,1,1,1980-04-07,61,Moderate,Ozone,01-001-0002,1
3,Alabama,Autauga,1,1,1980-04-08,49,Good,Ozone,01-001-0002,1
4,Alabama,Autauga,1,1,1980-04-09,58,Moderate,Ozone,01-001-0002,1

In [ ]:
# filter datasets by State and County
philly_df = df[ (df["State Name"] == "Pennsylvania") & (df["county Name"] == "Philadelphia") ]
philly_df.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
107267,Pennsylvania,Philadelphia,42,101,1980-01-01,68,Moderate,NO2,42-101-0026,8
107268,Pennsylvania,Philadelphia,42,101,1980-01-02,61,Moderate,CO,42-101-0024,8
107269,Pennsylvania,Philadelphia,42,101,1980-01-03,40,Good,CO,42-101-0027,8
107270,Pennsylvania,Philadelphia,42,101,1980-01-04,68,Moderate,NO2,42-101-0027,8
107271,Pennsylvania,Philadelphia,42,101,1980-01-05,47,Good,NO2,42-101-0027,8

In [ ]:
# write the merged dataset to a file
philly_df.to_csv("philly_county.csv")